:root {
    --primary: #18ad58;
    --seconadary: #e6ea11;
    --text_dark: rgb(39, 27, 4);
    --text_light: rgb(82, 70, 46);
    --background_light: rgb(248, 246, 233);
    --background_dark: rgb(235, 229, 195); 
    }
h1, h2, h4, h4, h6 {
  font-family: 
}
  





.OL_navbar {
background-color: var(--primary);
color: var(--text_dark) !important;
}

.OL_card:{
    background-color: var(--primary);
}

h1, h2, h3, h4 {
color: var(--text_dark) !important;
}

