body {
    background-color: #f6f6f6;
}
.primary-color {
    background: #ffb400;
}
.mainpage {
    margin: 1%;
}
.mainimage {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.contentImage {
    border-radius: 2%;
}
.authorName {
    height: 100px;
    padding-top: 30px;
}
.relatedImage {
    height: 72px;
    width: 72px;
}
.emptyDiv {
    width: 200px;
}